body {
  font-family: Arial;
  margin: auto;
  background: white;
}

/* Style the footer */
footer {
  position: static;
  left: 0;
  bottom: 0px;
  width: 100%;
  background-color: #ff7b54;
  color: white;
  text-align: center;
}

.push-footer {
  height: 450px;
}

/* Style the buttons */

.btn,
.btn-primary {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #939b62;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
}

.btn-primary:hover {
  background-color: #ffb26b;
  color: white;
}

.btn-primary:active {
  background-color: #ffb26b;
  color: white;
}

.btn-primary:focus {
  background-color: #ffb26b;
  color: white;
}
